HimalayaDotnet/.vs/HimalayaDotnet/v16
HimalayaDotnet/HimalayaDotnet/obj
.vs/himalaya-dotnet/v16
.vs
HimalayaDotnet/HimalayaDotnet/bin
HimalayaDotnet/HimalayaDotnetTest/obj
HimalayaDotnet/HimalayaDotnet/HimalayaDotnet.csproj.user
HimalayaDotnet/HimalayaDotnet/Properties/PublishProfiles/FolderProfile.pubxml.user
